@mixin fontStyle {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    margin-right: 5px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
}

.calContainer {
    background-color: #80AEE1;
    padding: 0 1.7%;
    height: 45px;
    line-height: 45px;
    margin: -8px;
    display: flex;

    &__call {
        @include fontStyle;

        &:hover {
            color: yellow;
            cursor: pointer;
        }
    }

    &__question {
        @include fontStyle;
        text-transform: uppercase;
        flex: 2;
        font-weight: bold;
        text-align: center;
    }
}